.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.router-container {
  padding: 1rem 2rem;
}

.title-container {
  display: flex;
  align-items: center;
}
.title {
  margin-left: 1rem;
}